body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

@font-face {
    font-family: Digital7;
    src: url("./fonts/digital-7.ttf") format("truetype");
}

.clock-face {
  font-family: Digital7;
}
