/* Font by http://www.styleseven.com/ */
@font-face {
    font-family: Digital7;
    src: url("./fonts/digital-7.ttf") format("truetype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

button {
  background-color: rgb(198, 80, 224);
  border: 1px solid rgb(198, 80, 224);
  margin: 10px 5px;
  padding: 3px 12px;
}

button:focus {
  outline: 2px solid hsl(289, 69%, 79%);
}

.wrapper {
  height: 100vh;
  width: 100%;
}

.container {
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 150px 0;
  width: 550px;
}

.clock-container {
  border: 2px solid rgb(198, 80, 224);
  text-align: center;
  width: 100%;
}

.clock-face {
  color: rgb(198, 80, 224);
  font-family: Digital7;
  font-size: 10rem;
}
